/* Write your global styles here, in PostCSS syntax */
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

.x-banner-error {
	@apply flex justify-between items-center p-4 rounded bg-red-300;
}

.x-banner-error-title {
	@apply font-bold;
}
